<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Places</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD9qa_96I03Wr_693cSRkT-eINx5JE7_GQ" %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
